fastapi==0.128.8
uvicorn==0.39.0
sqlalchemy==2.0.47
psycopg2-binary==2.9.11
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.0.1
python-dotenv==1.2.1
python-multipart==0.0.20
email-validator==2.3.0
alembic==1.16.5
aiofiles==25.1.0
